In [2]:
import pandas as pd
token = 'F3YFGYGF2GF9G9G'
symbol = 'BRX'
from_date = '2023-07-31'
to_date = '2023-08-24'
candles = pd.read_json('https://hub.limex.com/v1/candles?symbol='+symbol+'&token='+token+'&from='+from_date+'&to='+to_date)
candles.head(3)

                    ts      o       h       l      c        v
0  2023-08-23T07:00:00  21.06  21.505  20.970  21.47  1699922
1  2023-08-22T07:00:00  21.17  21.270  20.900  20.98  1235945
2  2023-08-21T07:00:00  21.50  21.540  20.955  21.04   791685