In [1]:
import pandas as pd
token = 'F3YFGYGF2GF9G9G'
symbol = 'BRX'
from_date = '2023-07-31'
to_date = '2023-08-24'
boostedmodels = pd.read_json('https://hub.limex.com/v1/models?vendor=boosted&token='+token)
boostedmodels.head(3)

,id,name,modelgroup
0,50678d2d-fd0f-4841-aaee-7feac83cb3a1,Weekly Ideas,S&P 500 Tactical
1,a5f9f60f-a891-41e7-a001-b95ee0dfb10c,Weekly Ideas,S&P 500 Tactical Financials
2,7e3af8f1-17d1-419f-9ad3-08794235ef5b,Weekly Ideas,R1K Tactical Real Estate

In [2]:
boostedsignals = pd.read_json('https://hub.limex.com/v1/signals?vendor=boosted&token='+token+'&model=50678d2d-fd0f-4841-aaee-7feac83cb3a1&from=2022-01-01')
boostedsignals.head(3)

,isin,symbol,company_name,country,currency,allocation,trade_date
0,US67066G1040,NVDA,NVIDIA Corporation,USA,USD,0.007760,2022-01-03
1,US1011371077,BSX,Boston Scientific Corporation,USA,USD,0.006261,2022-01-03
2,US0905722072,BIO,"Bio-Rad Laboratories, Inc.",USA,USD,0.000000,2022-01-03